/* Estilos específicos para formulario.html */
.form-container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.status-text {
    text-align: center;
    margin-bottom: 25px;
}
.status-icon {
    text-align: center;
    margin: 20px 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--accent);
    font-weight: 500;
}

.radio-group {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.radio-option {
    display: flex;
    align-items: left;
    gap: 20px;
}

.radio-option input {
    width: 18px;
    height: 18px;
}

.form-control {
   width: 100%;      /* IMPORTANTE: Cambiar de 50% a 100% */
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    box-sizing: border-box; /* Asegura que el padding no rompa el ancho */
    margin-bottom: 5px; /* Un poco de espacio extra */

}
.form-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--accent);
    font-weight: 500;
    text-align: left; /* O cambia a 'center' si quieres todo centrado */
    margin-top: 15px; /* Espacio entre el input anterior y el nuevo label */
}

.form-control:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 0 2px var(--secondary);
}

.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

@media (max-width: 768px) {
    .radio-group {
        flex-direction: column;
        gap: 10px;
    }
    
    .form-control {
        padding: 10px 12px;
    }
}
 .spinner-css {
   display: flex;
   justify-content: center;

   margin-bottom: 20px;
 }


.spinner-css img {
   /* opcional, ajusta el tamaño */

  animation: spin 0.7s linear infinite;
  width: 150px;
  height: auto;
  margin-right: 20px;
  display: block;
 

}

/* Animación */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(300deg);
  }
}


