/* Estilos específicos para formulario.html */
.form-container {
    max-width: 5;
    margin: 0 auto;
}

.status-icon {
    text-align: center;
    margin: 20px 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--accent);
    font-weight: 500;
}

.radio-group {
     max-width: 5;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.radio-option {
    display: flex;
    align-items: left;
    gap: 20px;
}

.radio-option input {
    width: 18px;
    height: 18px;
}

.form-control {
    width: 50%;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
}

.form-control:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 0 2px var(--secondary);
}

.submit-btn {
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .radio-group {
        flex-direction: column;
        gap: 10px;
    }
    
    .form-control {
        padding: 10px 12px;
    }
}



.spinner-css img {
   /* opcional, ajusta el tamaño */
  animation: spin 0.7s linear infinite;
  width: 300px;
  height: auto;
  float: right;
  margin-right: 20px;
  margin: 109px 0 0 0;

}

/* Animación */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(300deg);
  }
}


