/* Estilos específicos para index.html */
.upload-section {
    text-align: center;
    margin: 30px 0;
}

.upload-icon {
    font-size: 4rem;
    color: var(--accent);
    margin-bottom: 20px;
}

.file-info {
    margin-top: 15px;
    color: var(--accent);
    font-size: 1.1rem;
}

.upload-btn {
    margin-top: 25px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .actions {
        flex-direction: column;
    }
    
    .btn {
        width: 100%;
    }
}
.spinner-css img {
   /* opcional, ajusta el tamaño */
  animation: spin 0.7s linear infinite;
  width: 150px;
  height: auto;
  float: center;
  margin-right: 90px;
  margin: 9px 0 0 0;

}

/* Animación */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(300deg);
  }
}